* {
	box-sizing: border-box;
}

body, html {
	font-family: Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

header, footer {
	color: #fff;
	background-color: #333;
	padding: 1em;
}

header > section {
	display: inline-block;
}

main {
	background-color: #fdfdfd;
	padding: 1em;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

table {
	width: 100%;
}

.host > td {
	padding: 1em;
}

.host {
	display: inline-block;
	margin: 0.5em 0;
	width: 100%;
	background-color: #eee;
	border: 2px solid #aaa;
	height: 3em;
}

.host .view-host-link {
	display: inline-block;
	line-height: 2.5em;
	padding-left: 0.5em;
	text-decoration: none;
}

.host .view-host-link:hover {
	background-color: #f4f4f4;
}

#add-group {
	float: right;
}

.host .manage-host-link {
	display: inline-block;
	float: right;
	padding: 0.5em;
	width: 3em;
	background-image: url('/resources/manage-icon.png');
    	background-size: 70% 70%;
    	background-color: #337ab7;
    	background-position: center;
    	background-repeat: no-repeat;
}