* {
	box-sizing: border-box;
}

body, html {
	font-family: Verdana, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fdfdfd;
}

header, footer {
	color: #fff;
	background-color: #333;
	padding: 1em;
}

header > section {
	display: inline-block;
}

main {
	padding: 1em;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

table {
	width: 100%;
}

td, th{
    	border: 1px solid #aaa;
	padding: 0.5em;
}

.host {
	display: inline-block;
	margin: 0.5em 0;
	width: 100%;
	background-color: #eee;
	border: 2px solid #aaa;
	height: 3em;
}

.host .view-host-link {
	display: inline-block;
	line-height: 2.5em;
	padding-left: 0.5em;
	text-decoration: none;
}

.host .view-host-link:hover {
	background-color: #f4f4f4;
}

#add-group {
	float: right;
}

.add-host-link, .search-host-link, .manage-host-link, .delete-host-link, .save-host-link {
    	background-size: 80% 80%;
   	background-position: center;
    	background-repeat: no-repeat;
}

.add-host-link {
	background-image: url('/resources/add-icon.png');
    	background-color: #5cb85c;
}

.search-host-link {
	background-image: url('/resources/search-icon.png');
    	background-color: #337ab7;
}

.delete-host-link {
	background-image: url('/resources/delete-icon.png');
    	background-color: #c9302c;
}

.save-host-link {
	background-image: url('/resources/save-icon.png');
    	background-color: #337ab7;
}

.manage-host-link {
	display: inline-block;
	float: right;
	padding: 0.5em;
	width: 3em;
	background-image: url('/resources/manage-icon.png');
    	background-color: #337ab7;
}