* {
	box-sizing: border-box;
}

body, html {
	font-family: Verdana, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fdfdfd;
}

header, footer {
	color: #fff;
	background-color: #333;
	padding: 1em;
}

header > section {
	display: inline-block;
}

main {
	padding: 1em;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

table {
	width: 100%;
}

td, th {
    	border: 1px solid #aaa;
	padding: 0.5em;
}

.host {
	display: inline-block;
	margin: 0.5em 0;
	width: 100%;
	background-color: #eee;
	border: none;
	height: 3em;
}

.host .view-host-link {
	display: inline-block;
	padding-left: 0.5em;
	border: none;
	text-decoration: none;
}

.host .view-host-link:hover {
	background-color: #f4f4f4;
}

.host-view-section {
	line-height: 2.3em;
	text-align: left;
}

.host-view-section > img{
	float: left;
	margin-right: 1em;
	height: 2.1em;
	width: 2.1em;
}

.btn-default {
	background-color: #eee;
	height: 3em;
	border: none;
}

.btn-default-no-end-left{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-style: none;
	width: 10%;
}

.btn-default-no-end-right{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-style: none;
	width: 90%;
}

.host-container {
	display: inline-block;
	margin: 0.2em 0;
	width: 100%;
}


#add-group {
	float: right;
}

.add-host-link, .search-host-link, .manage-host-link, .delete-host-link, .save-host-link {
    	background-size: 35px 35px;
   	background-position: center;
    	background-repeat: no-repeat;
}

.add-host-link {
	background-image: url('/resources/add-icon.png');
    	background-color: #5cb85c;
}

.search-host-link {
	background-image: url('/resources/search-icon.png');
    	background-color: #337ab7;
}

.delete-host-link {
	background-image: url('/resources/delete-icon.png');
    	background-color: #c9302c;
}

.save-host-link {
	background-image: url('/resources/save-icon.png');
    	background-color: #337ab7;
}

.manage-host-link {
	background-image: url('/resources/manage-icon.png');
    	background-color: #337ab7;
}

.manage-host-link:hover {
	background-color: #2b73b0;
}


.popup {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}

.popup > .message-box {
    position: fixed;
    top: 25%;
    left: 16%;
    right: 16%;
    background-color: #fff;
    padding: 1em;
    color: #000;
    border-radius: 5px;
}

.popup h1 {
	margin: 0.2em 0;
}

.info-message {
	border: 1px solid #333;
	padding: 0.5em;
}

.info-message.success {
	background-color: #7cd87c;
}

/*On-Off generated css*/
.onoffswitch {
    position: relative;
    width: 123px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #aaa;
    border-radius: 0px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    font-family: Trebuchet, Arial, sans-serif; 
}
.onoffswitch-inner:before {
    content: "On";
    padding-left: 10px;
    background-color: #7CD87C;
    color: #fff;
}
.onoffswitch-inner:after {
    content: "Off";
    padding-right: 10px;
    background-color: #E99;
    color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 92px;
    border: 2px solid #999;
    border-radius: 0px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.field-toggle .onoffswitch-inner:before {
    content: "Host Name";
}
.field-toggle .onoffswitch-inner:after {
    content: "IP Address";
}

.host-status .onoffswitch-inner:before {
    content: "Active";
}
.host-status .onoffswitch-inner:after {
    content: "Inactive";
}